In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('pred.csv')
df = df.drop('Year',axis = 1)
df = df.drop('12th Division',axis = 1)
df.describe()
print(df)

      10th Marks  12th Marks  AIEEE Rank           College
0             90          89          98        IIT Bombay
1             95          92         100         IIT delhi
2             91          80         260        IIT kanpur
3             88          85         222     IIT kharagpur
4             89          84         600      IIT guwahati
...          ...         ...         ...               ...
999           86          87        1533        IIT indore
1000          80          89         854  Netaji Subhas IT
1001          86          87        1232        NIT trichy
1002          78          85        1730        IIT indore
1003          85          81        1757       BITS pilani

[1004 rows x 4 columns]

In [3]:
df.isna().sum()

10th Marks    0
12th Marks    0
AIEEE Rank    0
College       0
dtype: int64

In [4]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [15]:
x

      10th Marks  12th Marks  AIEEE Rank
0             90          89          98
1             95          92         100
2             91          80         260
3             88          85         222
4             89          84         600
...          ...         ...         ...
999           86          87        1533
1000          80          89         854
1001          86          87        1232
1002          78          85        1730
1003          85          81        1757

[1004 rows x 3 columns]

In [5]:
y

0             IIT Bombay
1              IIT delhi
2             IIT kanpur
3          IIT kharagpur
4           IIT guwahati
              ...
999           IIT indore
1000    Netaji Subhas IT
1001          NIT trichy
1002          IIT indore
1003         BITS pilani
Name: College, Length: 1004, dtype: object

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
y = le.fit_transform(y)
print(y)

[ 8 10 17 ... 29 14  2]

In [7]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=50,random_state=42)
rfr.fit(x,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [8]:
y_pred = rfr.predict(x)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y.reshape(len(y),1)),1))

[[ 8.12  8.  ]
 [ 9.58 10.  ]
 [16.64 17.  ]
 ...
 [29.   29.  ]
 [14.   14.  ]
 [ 2.    2.  ]]

In [9]:
x

      10th Marks  12th Marks  AIEEE Rank
0             90          89          98
1             95          92         100
2             91          80         260
3             88          85         222
4             89          84         600
...          ...         ...         ...
999           86          87        1533
1000          80          89         854
1001          86          87        1232
1002          78          85        1730
1003          85          81        1757

[1004 rows x 3 columns]

In [10]:

import sklearn.metrics as met
mse = met.mean_squared_error(y,y_pred)
rmse = np.sqrt(mse)
r2_score = met.r2_score(y,y_pred)
print(mse)
print(rmse)
print(r2_score)

6.603392446999342
2.5697066850127745
0.9485258424890993

In [11]:
y

array([ 8, 10, 17, ..., 29, 14,  2])

In [13]:
c=rfr.predict([[86,89,4563]])
l=int(c)
o=round(l)
if o==8:
    print("IIT BOMBAY")
if o==10:
    print("IIT DELHI")
if o==17:
    print("IIT KANPUR")
if o==18:
    print("IIT KHARAGPUR")
if o==12:
    print("IIT GUWAHATI")
if o==13:
    print("IIT HYDRABAD")
if o==32:
    print("Netaji Subhas IT")
if o==29:
    print("NIT TRICHY")
if o==14:
    print("IIT INDORE")
if o==2:
    print("BITS PILANI")
if o==23:
    print("JADAVPUR UNIVERSITY")
if o==37:
    print("VIT VELLORE")
if o==4:
    print("DTU Delhi")
if o==21:
    print("IIT ROPAR")
if o==19:
    print("IIT MANDI")
if o==7:
    print("IIIT HYDRABAD")
if o==30:
    print("NIT WARANGAL")
if o==22:
    print("IIT TIRUPATI")
if o==5:
    print("HBUT KANPUR")
if o==26:
    print("MNNIT ALLAHABAD")
if o==11:
    print("IIT GOA")
if o==28:
    print("MANIPAL IT")
if o==20:
    print("IIT PALAKKAD")
if o==0:
    print("AHEMEDABAD IT")
if o==33:
    print("SOA UNIVERSITY")
if o==34:
    print("SRM CHENNAI")
if o==9:
    print("IIT BHILLAI")
if o==15:
    print("IIT JAMMU")
if o==31:
    print("NMIMS")
if o==16:
    print("IIT JODHPUR")
if o==35:
    print("SSN college of ENGG")
if o==6:
    print("IIEST SHIBPUR")
if o==24:
    print("KLEF HYDRABAD")
if o==36:
    print("UNIVERSITY COLLEGE OF ENGG")
if o==1:
    print("BIT MESRA")
if o==25:
    print("MNIT JAIPUR")
if o==3:
    print("BMS COLLEGE OF ENGG")
if o==27:
    print("MSIT")

IIT INDORE

In [14]:
acc=rfr.score(x,y)
acc

0.9485258424890993